<a href="https://colab.research.google.com/github/RamyaHG/lavs/blob/master/Practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Program to insert the missing number in the series

In [ ]:
l=[12,24,48,60]
l.insert(2,36)
print(l)

[12, 24, 36, 48, 60]

Program to append the next number in series

In [ ]:
l=[13,26,39]
l.append(52)
print(l)

[13, 26, 39, 52]

Program to remove a wrong data entered in the series

In [ ]:
l=[2,4,6,7,8]
l.remove(7)
print(l)

[2, 4, 6, 8]

Program to sort the jumbled numbers in the series

In [ ]:
l=[12,14,13,15]
l.sort()
print(l)

[12, 13, 14, 15]

Program to Pop A number

In [ ]:
l=[23,24,25,26]
l.pop(2)
print(l)

[23, 24, 26]

Identify the index of a given number

In [ ]:
l=[1,3,4,6,7,9,85,43]
x=l.index(85)
print(x)

6

Identify the length of the series

In [ ]:
l=[2,5,6,78,9,8,53,66]
x=len(l)
print(x)

8

Reverse the given series

In [ ]:
l=[3,4,1]
l.reverse()
print(l)

[1, 4, 3]

Count the given series

In [ ]:
l=[1,2,3,4,3,4,5,3]
x=l.count(4)
print(x)

2

Add given series

In [ ]:
l=[9,12,23]
x=sum(l)
print(x)

44

Find the max and min number in the series

In [ ]:
l=[12,9,23]
x=max(l)
y=min(l)
print("x=",x)
print("y=",y)

x= 23
y= 9

In [35]:
l=[1,2,3,4,5,6,4,3]
x=int(input("Enter the value"))
for i in range(len(l)):
  if x==i:
    print(l.index(i))
    m=0
    m=m+i
print(m)

Enter the value3
2
3

In [ ]:
l=[]
n=int(input("Enter the value"))
for i in range(0,n):
  l.append(i)
  for j in l:
    mul=j*5
    l.append(mul)
print(l)

Enter the value2